-f https://download.pytorch.org/whl/cpu/torch_stable.html
imageio==2.16.1
networkx==2.7
numpy==1.22.2
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
PyWavelets==1.2.0
scikit-image==0.19.2
scipy==1.8.0
SimpleITK==2.1.1
tifffile==2022.2.9
torch==1.10.2+cpu
torchaudio==0.10.2+cpu
torchvision==0.11.3+cpu
typing_extensions==4.1.1
